<div style="font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; max-width: 800px; background-color: #f8f7fc; padding: 40px;">

  <h4 style="text-align: center; font-size: 32px; color: #2ab27b; margin: 0;">A user has generated an API token</h4>
  <p style="color: #5e5e5e; font-size:17px; line-height:24px; font-weight:bold">User:</p>
  <p><%= @user.email %></p>
  <p style="color: #5e5e5e; font-size:17px; line-height:24px; font-weight:bold">Reason for Access:</p>
  <p><%= @reason %></p>
  <br>
</div>