.activity-two-col-grid {
  display: grid;
  grid-template-columns: auto auto;

  .activity-grid--left {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .activity-grid--right {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .activity-grid--span {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
