<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cloud, label: "New Profile" %>
<% end %>

<% content_for :breadcrumb do %>

  <%= link_to "Profiles", profiles_path, class: "breadcrumb__leaf" %>
  <%= link_to "New profile", new_profile_path, class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/config_nav' %>
<% end %>

<section class="panel area-main area-main--half">

  <%= render 'form', profile: @profile %>

</section>
