<section class="panel area-main">

  <h1>Editing Comment</h1>
  <%= render "form", comment: @comment %>
  <div class="button-rounded--revert back-button"> <%= link_to 'Back', :back %> </div>

</section>
