<% cache document do %>
  <%= link_to aircraft_path(document.fleet, document) do %>
    <div class="search-result">
      <div class="search-result__icon">
        <%= image_tag "icons/aircraft_icon.png" %>
      </div>
      <div class="search-result__content">
        <span class="search-result__heading"><%= document.tail %></span>
        <span class="search-result__data"><%= document.description %></span>
      </div>
    </div>
  <% end %>
<% end %>
