<% cache document do %>
  <%= link_to manufacturers_path do %>
    <div class="search-result">
      <div class="search-result__icon">
        <%= image_tag "icons/aircraft_icon.png" %>
      </div>
      <div class="search-result__content">
        <span class="search-result__heading"><%= document.name %></span>
        <span class="search-result__data"><%= document.name %></span>
      </div>
    </div>
  <% end %>
<% end %>
