<%= breadcrumb do %>
  <%= breadcrumb_item "Airlines", airlines_path %>
  <%= breadcrumb_active_item "Edit #{@program.airline.name} Program" %>
<% end %>

<hr>

<section class="panel area-main">
  <%= render 'form', program: @program %>
</section>
