<%= breadcrumb do %>
  <%= breadcrumb_item "Airlines", airlines_path %>
  <%= breadcrumb_active_item "New Program" %>
<% end %>

<hr>

<div class="medium-edit-container">
  <%= render 'form', program: @program %>
</div>
