<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cloud, label: "Edit Software Platform" %>
<% end %>

<% content_for :breadcrumb do %>

  <%= link_to "Software Platforms", software_platforms_path, class: "breadcrumb__leaf" %>
  <%= link_to "Edit Software Platform", edit_software_platform_path(@software_platform), class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/config_nav' %>
<% end %>

<section class="panel area-main area-main--half">

  <%= render 'form', software_platform: @software_platform %>

</section>
