<div style="font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; max-width: 800px; background-color: #f8f7fc; padding: 40px;">

  <h4 style="text-align: center; font-size: 32px; color: #2ab27b; margin: 0;">Servo</h4>

  <p style="color: #5e5e5e; font-size:17px; line-height:24px;">Firefly has been upgraded to version <%= @new_version %></p>

  <p style="color: #5e5e5e; font-size:17px; line-height:24px;">Below is the changelog:</p>

  <br>

  <%= @changelog %>

</div>
