<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cloud, label: "Edit Airport" %>
<% end %>

<% content_for :breadcrumb do %>

  <%= link_to "Airports", airports_path, class: "breadcrumb__leaf" %>
  <%= link_to "Edit Airport", edit_airport_path(@airport), class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/config_nav' %>
<% end %>

<section class="panel area-main area-main--half">

  <%= render 'form', airport: @airport %>

</section>
