<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cloud, label: "New Airline" %>
<% end %>

<% content_for :breadcrumb do %>

  <%= link_to "Airlines", airlines_path, class: "breadcrumb__leaf" %>
  <%= link_to "New Airline", new_airline_path, class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/config_nav' %>
<% end %>

<section class="panel area-main area-main--half">

  <%= render 'form', airline: @airline %>

</section>
