<section class="panel area-main">

<%= render "shared/flash" %>

  <h1 class="header">
    <span class="header__name"> API Endpoint </span>
  </h1>


  <%= @api_endpoint_docs %>
  <%= link_to "Back", apidocs_path %>
</section>