<% content_for :breadcrumb do %>
  <%= link_to "Stations", station_activities_path(@activity.station), class: "breadcrumb__leaf" %>
  <%= link_to "Workload", activity_path(@activity), class: "breadcrumb__leaf" %>
<% end %>

<section class="activity-grid--left panel" >
  <%= render "activities/items", activity: @activity %>
</section>

<section class="activity-grid--right hidden sm:block panel">
  <%= render "shared/flash" %>
</section>
