<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cloud, label: "New Product" %>
<% end %>

<% content_for :breadcrumb do %>

  <%= link_to "Products", products_path, class: "breadcrumb__leaf" %>
  <%= link_to "New Product", new_product_path, class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/config_nav' %>
<% end %>

<section class="panel area-main area-main--half">

  <%= render 'form', product: @product %>

</section>
