<%= link_to(action, class: "p-4 flex items-center justify-center hover:bg-thales-dark-blue-gray focus:bg-thales-light-blue" ) do %>
  <%= inline_svg icon, class: "h-6 w-6 text-thales-light-blue active:text-white" %>
  <span class="ml-4 text-white"><%= label %></span>
<% end %>
